<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank"><h1>{{ title }}</h1></a>
<h3 *ngIf="programStarted">Programa en ejecucion...</h3>
<hr>

<div class="sect">
 
  <div class="left">
    <div *ngIf="!programStarted">
      <form class="program-form" 
        [formGroup]="programForm"
        (ngSubmit)="iniciarPrograma()"
        autocomplete="off">
        <div class="form-element">
          <label>Cantidad de Procesadores</label>
          <input type="number"
                min="1"
                max="12"
                formControlName="cantProcesadores"
                placeholder="1">
        </div>
        <div class="form-element">
          <label>Tiempo de Ejecucion de Procesos</label>
          <input type="number"
                min="1"
                max="60"
                formControlName="tiempoProceso"
                placeholder="1">
        </div>
      
        <button type="submit" [disabled]="!programForm.valid || programStarted"> Iniciar </button>
      </form>
    </div>
    
    <div *ngIf="programStarted">
      <form [formGroup]="procesoForm"
        (ngSubmit)="agregarProceso()"
        autocomplete="off">
    
      <label>Nombre de proceso</label>
      <input type="text"
            formControlName="nombre"
            placeholder="Nombre de proceso">
      <br>
      <label>Tiempo de ejecucion</label>
      <input type="number"
            min="1"
            max="60"
            formControlName="tiempoEjecucion"
            placeholder="1">s
      <br>
      <label>Tiempo al que Espera E/S</label>
      <input type="number"
            min="1"
            max="60"
            formControlName="tiempoBloqueoPorEntradaSalida"
            placeholder="1">
      <br>
      <label>Tiempo de espera E/S</label>
      <input type="number"
            min="1"
            max="60"
            formControlName="tiempoEspera"
            placeholder="1">s
      <br>
      <label>Tipo de Proceso</label>
        <input (click)="cambiarTipo()" name="tipo" type="radio" value='{{ TIPO_PROCESO_SO }}' formControlName="tipo" >S.O.
        <input (click)="cambiarTipo()" name="tipo" type="radio" value='{{ TIPO_PROCESO_USUARIO }}' formControlName="tipo">Usuario
      <br>

      <label *ngIf="procesoForm.value.tipo">Prioridad de proceso</label>

      <input *ngIf="procesoForm.value.tipo === TIPO_PROCESO_SO" 
            type="number"
            min="{{ PRIORIDAD_MIN }}"
            max="{{ PRIORIDAD_MAX_SO }}"
            formControlName="prioridad"
            placeholder="{{ PRIORIDAD_MIN }}">
      <input *ngIf="procesoForm.value.tipo === TIPO_PROCESO_USUARIO" 
            type="number"
            min="{{ PRIORIDAD_MIN_USUARIO }}"
            max="{{ PRIORIDAD_MAX }}"
            formControlName="prioridad"
            placeholder="{{ PRIORIDAD_MIN_USUARIO }}">
      <br>

      <button type="submit" [disabled]="!procesoForm.valid"> Agregar Proceso </button>
      </form>
    </div>

    <div *ngIf="procesosActuales.length > 0">
      <button (click)="agregarAPlanificador()"> Agregar a Planificador: [ {{ procesosActuales.length }} ] procesos </button>
    </div>
  </div>
  
  <div class="right" *ngIf="programStarted">
    <h1>Procesos Listos: [ {{ planificador.procesosListos.length }} ]</h1>
    <div class="table-container">
      <table>
        <tr>
          <th>Posicion</th>
          <!-- <th>Edad</th> -->
          <th>Nombre</th>
          <th>Tipo</th>
          <th>Prioridad</th>
          <th>T.Ejecucion</th>
          <th>Bloquear</th>
        </tr>
        <tr *ngFor="let proceso of planificador.procesosListos; let i = index">
          <td>{{ i }}</td>
          <!-- <td>{{ proceso.edad }}</td> -->
          <td>{{ proceso.nombre }}</td>
          <td>{{ proceso.tipo }}</td>
          <td class="p-form">
            <form [formGroup]="priorityForm"
              (ngSubmit)="cambiarPrioridad(proceso)"
              autocomplete="off">
              <input type="number"
                min="{{ PRIORIDAD_MIN }}"
                max="{{ PRIORIDAD_MAX }}"
                formControlName="prioridad"
                placeholder="{{ proceso.prioridad }}">
              <button type="submit" [disabled]="!priorityForm.valid"> Guardar Prioridad </button>
            </form>
          </td>
          <td>{{ proceso.tiempoEjecucion }}</td>
          <td>
            {{ proceso.bloqueado }}
            <button [disabled]="proceso.bloqueado" (click)="bloquearListos(proceso)">Bloquear</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<hr>

<div class="sect">
  <div class="left" *ngIf="programStarted">
    <h1>Cantidad de procesadores: [ {{ cpu.procesadores.length }} ]</h1>
    <h2>Procesos en Ejecucion: [ {{ cpu.procesosActivos() }} ]</h2>
    <div class="activos">
      <div class="core" 
           [ngClass]="procesador.procesoActivo != null ? 'proceso-activo' : 'proceso-inactivo'"
           [ngClass]="procesador.procesoActivo != null && procesador.procesoActivo.bloqueado ? 'locked' : ''"
           *ngFor="let procesador of cpu.procesadores">
        <h3>CPU {{ procesador.nombre }}:[ {{procesador.quantumRestante}}s ]</h3>
        <div class="p-activos">
          <div *ngIf="procesador.procesoActivo != null" class="proceso">
            <p>Nombre: {{ procesador.procesoActivo.nombre }}</p>
            <p>Tipo: {{ procesador.procesoActivo.tipo }}</p>
            <p>Prioridad: {{ procesador.procesoActivo.prioridad }}</p>
            <p>T.Ejecucion: {{ procesador.procesoActivo.tiempoEjecucion }}s</p>
            <button [disabled]="procesador.procesoActivo.bloqueado" (click)="bloquearCpu(procesador.procesoActivo!)">Bloquear</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="right" *ngIf="programStarted">
    <h1>Cantidad de Bloqueados: [ {{ planificador.procesosBloqueados.length }} ]</h1>
    <div class="activos">
      <div *ngFor="let proceso of planificador.procesosBloqueados">
        <div class="proceso"
             [ngClass]="proceso.bloqueado? '' : 'unlocked'">
          <p>Nombre: {{ proceso.nombre }}</p>
          <p>Tipo: {{ proceso.tipo }}</p>
          <form [formGroup]="priorityForm"
            (ngSubmit)="cambiarPrioridad(proceso)"
            autocomplete="off">
            <p><label>Prioridad: {{ proceso.prioridad }}</label></p>
            <input type="number"
              min="{{ PRIORIDAD_MIN }}"
              max="{{ PRIORIDAD_MAX }}"
              formControlName="prioridad"
              placeholder="{{proceso.prioridad}}">
            <button type="submit" [disabled]="!priorityForm.valid"> Guardar Prioridad </button>
          </form>
          <p>T.Ejecucion: {{ proceso.tiempoEjecucion }}</p>
          <p>Bloqueado por: {{ proceso.bloquedBy }}</p>
          <p>Tiempo de bloqueo: {{ proceso.tiempoActualDesbloqueo }}</p>
          <button [disabled]="!proceso.bloqueado" (click)="desbloquear(proceso)">Desbloquear</button>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="sect" *ngIf="programStarted">
  <div class="left">
    <h1>Procesos Finalizados: [ {{ planificador.procesosFinalizados.length }} ]</h1>
    <div class="table-container">
      <table>
        <tr>
          <th>Nombre</th>
          <th>Tipo</th>
        </tr>
        <tr *ngFor="let proceso of planificador.procesosFinalizados">
          <td>{{ proceso.nombre }}</td>
          <td>{{ proceso.tipo }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>