<h1>{{ title }}s</h1>
<h3 *ngIf="programStarted">Programa en ejecucion...</h3>
<hr>

<div class="sect">
 
  <div class="left">
    <div *ngIf="!programStarted">
      <form [formGroup]="programForm"
        (ngSubmit)="iniciarPrograma()"
        autocomplete="off">
      <label>Cantidad de Procesadores</label>
      <br>
      <input type="number"
            min="1"
            max="12"
            formControlName="procesadores"
            placeholder="1">
    
      <button type="submit" [disabled]="!programForm.valid || programStarted"> Iniciar </button>
      </form>
    </div>
    
    <div *ngIf="programStarted">
      <form [formGroup]="procesoForm"
        (ngSubmit)="agregarProceso()"
        autocomplete="off">
    
      <label>Nombre de proceso</label>
      <input type="text"
            formControlName="nombre"
            placeholder="Nombre de proceso">
      <br>
      <label>Prioridad de proceso</label>
      <input type="number"
            min="1"
            max="99"
            formControlName="prioridad"
            placeholder="1">
      <br>
      <label>Tiempo de ejecucion</label>
      <input type="number"
            min="1"
            max="60"
            formControlName="tiempoEjecucion"
            placeholder="1">
      <br>
      <button type="submit" [disabled]="!procesoForm.valid"> Agregar Proceso </button>
      </form>
    </div>
    
    <div *ngFor="let proceso of procesosActuales">
      {{ proceso | json }}
    </div>

    <div *ngIf="procesosActuales.length > 0">
      <button (click)="agregarAPlanificador()"> Agregar a Planificador: [ {{ procesosActuales.length }} ] procesos </button>
    </div>
  </div>
  
  <div class="right" *ngIf="programStarted">
    <h1>Procesos Listos: [ {{ planificador.procesosListos.length }} ]</h1>
    <div class="cont">
      <div class="lista" *ngFor="let proceso of planificador.procesosListos">
        <div class="proceso">
          <p>Nombre: {{ proceso.nombre }}</p>
          <p>Prioridad: {{ proceso.prioridad }}</p>
          <p>T.Ejecucion: {{ proceso.tiempoEjecucion }}</p>
          <p>Bloqueado: {{ proceso.bloqueado }}</p>
          <button *ngIf="proceso.bloqueado" (click)="desbloquear(proceso)">Desloquear</button>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="sect">
  <div class="left" *ngIf="programStarted">
    <h1>Cantidad de procesadores: [ {{ procesadores }} ]</h1>
    <h2>Procesos en Ejecucion: [ {{ cpu.procesosActivos.length }} ]</h2>
    <div class="activos">
      <div *ngFor="let proceso of cpu.procesosActivos; let i = index">
        <div class="proceso">
          <h3>Core {{i}}</h3>
          <p>Nombre: {{ proceso.nombre }}</p>
          <p>Prioridad: {{ proceso.prioridad }}</p>
          <p>T.Ejecucion: {{ proceso.tiempoEjecucion }}</p>
          <button (click)="bloquear(proceso)">Bloquear</button>
        </div>
      </div>
    </div>
  </div>

  <div class="right" *ngIf="programStarted">
    <h1>Cantidad de Bloqueados: [ {{ procesosBloqueados.length }} ]</h1>
    <div class="activos">
      <div *ngFor="let proceso of procesosBloqueados">
        <div class="proceso">
          <p>Nombre: {{ proceso.nombre }}</p>
          <p>Prioridad: {{ proceso.prioridad }}</p>
          <p>T.Ejecucion: {{ proceso.tiempoEjecucion }}</p>
          <button (click)="desbloquear(proceso)">Desbloquear</button>
        </div>
      </div>
    </div>
  </div>
</div>

