<h1>{{ title }}s</h1>
<h3 *ngIf="programStarted">Programa en ejecucion...</h3>
<hr>

<div class="sect">
 
  <div class="left">
    <div *ngIf="!programStarted">
      <form [formGroup]="programForm"
        (ngSubmit)="iniciarPrograma()"
        autocomplete="off">
      <label>Cantidad de Procesadores</label>
      <br>
      <input type="number"
            min="1"
            max="12"
            formControlName="procesadores"
            placeholder="1">
    
      <button type="submit" [disabled]="!programForm.valid || programStarted"> Iniciar </button>
      </form>
    </div>
    
    <div *ngIf="programStarted">
      <form [formGroup]="procesoForm"
        (ngSubmit)="agregarProceso()"
        autocomplete="off">
    
      <label>Nombre de proceso</label>
      <input type="text"
            formControlName="nombre"
            placeholder="Nombre de proceso">
      <br>
      <label>Prioridad de proceso</label>
      <input type="number"
            min="1"
            max="99"
            formControlName="prioridad"
            placeholder="1">
      <br>
      <label>Tiempo de ejecucion</label>
      <input type="number"
            min="1"
            max="60"
            formControlName="tiempoEjecucion"
            placeholder="1">
      <br>
      <label>Tipo de Proceso</label>
        <input name="check" type="radio" value='S.O.' formControlName="tipo" >S.O.
        <input name="check" type="radio" value='Usuario' formControlName="tipo">Usuario
      <br>
      <button type="submit" [disabled]="!procesoForm.valid"> Agregar Proceso </button>
      </form>
    </div>

    <div *ngIf="procesosActuales.length > 0">
      <button (click)="agregarAPlanificador()"> Agregar a Planificador: [ {{ procesosActuales.length }} ] procesos </button>
    </div>
  </div>
  
  <div class="right" *ngIf="programStarted">
    <h1>Procesos Listos: [ {{ planificador.procesosListos.length }} ]</h1>
    <div class="cont">
      <div class="lista" *ngFor="let proceso of planificador.procesosListos">
        <div class="proceso">
          <p>Nombre: {{ proceso.nombre }}</p>
          <p>Tipo: {{ proceso.tipo }}</p>
          <form [formGroup]="priorityForm"
            (ngSubmit)="cambiarPrioridad(proceso)"
            autocomplete="off">
            <p><label>Prioridad: {{ proceso.prioridad }}</label></p>
            <input type="number"
              min="1"
              max="99"
              formControlName="prioridad"
              placeholder="{{proceso.prioridad}}">
            <button type="submit" [disabled]="!priorityForm.valid"> Guardar Prioridad </button>
          </form>
          <p>T.Ejecucion: {{ proceso.tiempoEjecucion }}</p>
          <p>Bloqueado: {{ proceso.bloqueado }}</p>
          <button *ngIf="proceso.bloqueado" (click)="desbloquear(proceso)">Desloquear</button>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="sect">
  <div class="left" *ngIf="programStarted">
    <h1>Cantidad de procesadores: [ {{ cpu.procesadores.length }} ]</h1>
    <h2>Procesos en Ejecucion: [ {{ procesosActivos() }} ]</h2>
    <div class="activos">
      <div *ngFor="let procesador of cpu.procesadores; let i = index">
        <div *ngIf="procesador.procesoActivo != null" class="proceso">
          <h3>Core {{ procesador.nombre }}</h3>
          <p>Nombre: {{ procesador.procesoActivo!.nombre }}</p>
          <p>Tipo: {{ procesador.procesoActivo!.tipo }}</p>
          <form [formGroup]="priorityForm"
            (ngSubmit)="cambiarPrioridad(procesador.procesoActivo!)"
            autocomplete="off">
            <p><label>Prioridad: {{ procesador.procesoActivo!.prioridad }}</label></p>
            <input type="number"
              min="1"
              max="99"
              formControlName="prioridad"
              placeholder="{{procesador.procesoActivo!.prioridad}}">
            <button type="submit" [disabled]="!priorityForm.valid"> Guardar Prioridad </button>
          </form>
          <p>T.Ejecucion: {{ procesador.procesoActivo!.tiempoEjecucion }}</p>
          <button (click)="bloquear(procesador.procesoActivo!)">Bloquear</button>
        </div>
      </div>
    </div>
  </div>

  <div class="right" *ngIf="programStarted">
    <h1>Cantidad de Bloqueados: [ {{ procesosBloqueados.length }} ]</h1>
    <div class="activos">
      <div *ngFor="let proceso of procesosBloqueados">
        <div class="proceso">
          <p>Nombre: {{ proceso.nombre }}</p>
          <p>Tipo: {{ proceso.tipo }}</p>
          <form [formGroup]="priorityForm"
            (ngSubmit)="cambiarPrioridad(proceso)"
            autocomplete="off">
            <p><label>Prioridad: {{ proceso.prioridad }}</label></p>
            <input type="number"
              min="1"
              max="99"
              formControlName="prioridad"
              placeholder="{{proceso.prioridad}}">
            <button type="submit" [disabled]="!priorityForm.valid"> Guardar Prioridad </button>
          </form>
          <p>T.Ejecucion: {{ proceso.tiempoEjecucion }}</p>
          <button (click)="desbloquear(proceso)">Desbloquear</button>
        </div>
      </div>
    </div>
  </div>
</div>

